services:
  db:
    container_name: "integration-db-prod"
    image: postgres:18.0-alpine
    env_file:
      - .env.db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

  backend:
    container_name: "integration-backend-prod"
    build: ./backend
    env_file:
      - .env.backend
    depends_on:
      db:
        condition: service_healthy

  frontend:
    container_name: "integration-frontend-prod"
    build:
      context: ./frontend
      args:
        REACT_APP_BACKEND_URL: http://localhost/api
    env_file:
      - .env.frontend.prod
    
    ports:
      - "80:80"
    depends_on:
      - backend

  netdata:
    container_name: "integration-netdata-prod"
    image: netdata/netdata
    hostname: pi5
    pid: host
    network_mode: host
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - netdata_config:/etc/netdata
      - netdata_lib:/var/lib/netdata
      - netdata_cache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - NETDATA_CLAIM_TOKEN= # Empty = local
      - DOCKER_USR=root

volumes:
  postgres_data:
    name: "postgres_data"
  netdata_config:
  netdata_lib:
  netdata_cache:
